{% extends 'base.html' %}
{% block content %}


<h1>LIVE QUOTES</h1>
</br>



<table class="table table-striped table-hover">

  <thead class="thead-dark">
    <tr>
      <th scope="col">Product name</th>
      <th scope="col">Expiry_date</th>
      <th scope="col">Open</th>
      <th scope="col">Low</th>
      <th scope="col">LTP</th>
      <th scope="col">HIGH</th>
      <th scope="col">CLOSE</th>
      <th scope="col">CHANGE</th>
	    <th scope="col">CHANGE PERCENTAGE</th>
      <th scope="col">AVTP</th>
      <th scope="col">SPOT PRICE</th>
      <th scope="col">SPOT PRICE DATE|TIME</th>
      <th scope="col">BEST BUY</th>
      <th scope="col">BEST SELL</th>
      <th scope="col">OI</th>

    </tr>
  </thead>
  <tbody>

		
    <tr>
      {% for dt in data%}
      <td>{{dt.pname}}</td>
      <td>{{dt.expiry_date}}</td>
      <td>{{dt.open}}</td>
      <td>{{dt.low}}</td>
      <td>{{dt.ltp}}</td>
      <td>{{dt.high}}</td>
      <td>{{dt.close}}</td>
      <td>{{dt.change}}</td>
      <td>{{dt.change_percentage}}</td>
      <td>{{dt.avtp}}</td>
      <td>{{dt.spot_price}}</td>
      <td>{{dt.sp_date_time}}</td>
      <td>{{dt.best_buy}}</td>
      <td>{{dt.best_sell}}</td>
      <td>{{dt.oi}}</td>
    </tr>
      {% endfor %}
		
  </tbody>
</table>



{% endblock %}